[Desktop Entry]
Version=1.0
Type=Application
Name=Matlab {{ item }}
Comment=Mathworks Matlab {{ item }}
TryExec=/usr/local/MATLAB/{{ item }}/bin/matlab
Exec=/usr/local/MATLAB/{{ item }}/bin/matlab -desktop
Categories=Development;IDE;
Icon=/usr/local/MATLAB/matlabicon.png
