# {{ ansible_managed }}
deb http://ppa.launchpad.net/relan/exfat/ubuntu {{ ansible_distribution_release }} main 
deb-src http://ppa.launchpad.net/relan/exfat/ubuntu {{ ansible_distribution_release }}  main 
